
<div class="sections">
 
      <section class="sect one" id="home">

		 <span class="login_button auth_button">Login</span>
		 <span class="signup_button auth_button">Sign Up</span>
         <p id="sitename">foodTube</p>
		 <a href="#!/recipes/add"><button class="add_recipe" ng-click="add_recipe()">Add Recipes</button></a>

	  </section>

      <section class="sect two blur" id="maincourse">

		  <p class="title">MAINCOURSE</p>
		  <a href="#!/recipes/maincourse" class="all_recipes_title">All Maincourse</a>

        <!-- Blog posts -->


		  <div class="blogs" ng-init="getMaincourseRecipes()">

            

			  <div class="recipes" ng-repeat="maincourseRecipe in maincourseRecipes | limitTo: 4">
                  
                   <p id="recipe_title">{{ maincourseRecipe.title }}</p>

				   <img ng-src="{{ maincourseRecipe.image }}" width="190" height="100"/>

				   <div id="post_date"> {{ maincourseRecipe.create_date }} </div>

				   <div> {{ maincourseRecipe.description }} </div>

				  <div id="readmore"><a href="#!/recipes/details/{{ maincourseRecipe._id }}">Read More.. </a></div>
                   

			  </div>

		</div>	  
			  

			 

	  </section>

	<!-- modal maincourse 

	<div id="modal_maincourse" class="modal">

		<div id="close_modal">&times;</div>
  
		<div class="modal_form_posts">

			<h2> Post Recipe </h2>
			
			<form method="post" enctype='multipart/formdata'>	

				<input type="text" ng-model="posts.title" placeholder="  Title">
				<input type="text" placeholder="  Category">
				<label for="recipe_image">Image</label>
				<input type="file" id="recipe_image">
				<textarea cols="30" rows="20" ng-model="posts.description"  placeholder="  Contents"></textarea>
				<button type="submit">POST</button>

			</form>


		</div>

		

	</div>	-->	  

	<!-- Article -->

	  <article class="post_article"> 

				<p id="title1_article"><em> A CULINARY CONFLUENCE</em></p>

				<p id="article_date"><em>Posted on 12 Sep, 2016</em></p>


				<p id="title2_article">Bhopal’s cuisine is a mouthwatering mix of the nawabi food of Hyderabad and Lucknow</p>

				<img src="images/rezala.jpg" width="250" height="200"/>   

				<p id="content">
						<em>Some days ago, I cooked something that I had never tried before — Bhopali chicken rezala. I have eaten — and cooked — the usual rezala, a much loved dish of meat in a white curd-based sauce. But Bhopal’s rezala is different: it’s not white, but green in colour. And the predominant taste is that of coriander and mint.

						It turned out quite well, and I have to thank Suman Rakshit, the executive chef of Noor-Us-Sabah Palace in Bhopal, for that. He is a Bengali, of course — but has been studying Bhopali food. And he tells me that the Muslim cuisine of Bhopal — which he calls Bhopal gharana — is distinct from the Nawabi food of Hyderabad and Lucknow.</em> <span id="readmore_article"><a href="#"><em>Read More..</em> </a></span>
		
		       </p>

	  </article	>  



      <section class="sect three blur" id="snacks">

		  <p class="title">SNACKS</p>
		  <a href="#!/recipes/snacks" class="all_recipes_title">All Snacks</a>

	    <!-- Blog posts -->

          		  <div class="blogs" ng-init="getSnacksRecipes()">

            

			  <div class="recipes" ng-repeat="snacksRecipe in snacksRecipes | limitTo: 4">
                  
                   <p id="recipe_title">{{ snacksRecipe.title }}</p>

				   <img ng-src="{{ snacksRecipe.image }}" width="190" height="100"/>

				   <div id="post_date"> {{ snacksRecipe.create_date }} </div>

				   <div> {{ snacksRecipe.description }} </div>

				  <div id="readmore"><a href="#!/recipes/details/{{ snacksRecipe._id }}">Read More.. </a></div>
                   

			  </div>

			</div>  

	  </section>




	<!-- Article -->

	  <article class="post_article"> 

				<p id="title1_article"><em> A TAMARIND HIGH </em></p>

				<p id="article_date"><em>Posted on 16 Sep, 2016</em></p>


				<p id="title2_article">Rasam is the ultimate south Indian comfort food, says Rahul Verma</p>

				<img src="images/rasam.jpg" width="250" height="200"/>   

				<p id="content"><em>
					Now that the worst of the summer is behind us, I have begun dreaming of piping hot dishes. And one vision has been tempting me — that of a steel bowl of steaming rasam. Rasam warms you up, whets the appetite, gives you all kinds of nutrients — and tastes really good.

					Even though we now know all about sub-regional cuisine, a south Indian meal in a city north of the Vindhyas still mostly means a thali. The centre of the thali has a mound of rice with a papad on top. The sides are lined with
					bowls with rasam, sambar, vegetables, curd and a sweet dish. You drink up the invigorating rasam and are ready to take on the world.

					“Rasam is made in almost every south Indian home, traditionally with tamarind,” stresses Ajit Bangera, the senior executive chef at ITC Grand Chola, Chennai. “It’s called rasam in Tamil and Malayalam, saaru in Kannada, and charu and pulusu in Telugu.”</em> 
					
					<span id="readmore_article"><a href="#"><em>Read More..</em></a></span>
		
		       </p>

	  </article	> 

      <section class="sect four blur" id="starter">

		  <p class="title">STARTER</p>
		  <a href="#!/recipes/starters" class="all_recipes_title">All Starters</a>


		<!-- Blog posts -->
           	<div class="blogs" ng-init="getStartersRecipes()">

            

			  <div class="recipes" ng-repeat="startersRecipe in startersRecipes | limitTo: 4">
                  
                   <p id="recipe_title">{{ startersRecipe.title }}</p>

				   <img ng-src="{{ startersRecipe.image }}" width="190" height="100"/>

				   <div id="post_date"> {{ startersRecipe.create_date }} </div>

				   <div> {{ startersRecipe.description }} </div>

				  <div id="readmore"><a href="#!/recipes/details/{{ startersRecipe._id }}">Read More.. </a></div>
                   

			  </div>

			</div>  
          
	  </section>

<!-- Article -->

	  <article class="post_article"> 

				<p id="title1_article"><em> WHAT IS THE WINE HARVEST SEASON ALL ABOUT? </em></p>

				<p id="article_date"><em>Posted on 13 Sep, 2016</em></p>


				<p id="title2_article">"Wine harvest season, being out in the beautiful fields: This is what people like to talk about, says Michelle Meyer</p>

				<img src="images/grapes.jpg" width="250" height="200"/>   

				<p id="content"><em>
						As dawn breaks each morning this time of year, millions of grapes glisten with dew like clusters of jewels hanging heavy in the vast vineyards. These canary diamonds and amethysts are waiting, just waiting to be plucked and appreciated.

						And they will be. In the northern hemisphere, September through October is when these jewelry store owners fling open their doors for the thousands of volunteers who relish the chance to participate in wine harvest season.

						The bounty of future fine beverages stems from vineyards all across the United States — not only in what most of us consider wine country: Sonoma and Napa valleys in California.

						Hundreds of volunteers stream toward vineyards in Kansas too.</em> <span id="readmore_article"><a href="#"><em>Read More..</em></a></span>
		
		       </p>

	  </article	> 


      <section class="sect five blur" id="desserts">
		  
		  <p class="title">DESSERTS</p>
		  <a href="#!/recipes/desserts" class="all_recipes_title">All Desserts</a>


		<!-- Blog posts -->

            <div class="blogs" ng-init="getDessertsRecipes()">

            

			  <div class="recipes" ng-repeat="dessertsRecipe in dessertsRecipes | limitTo: 4">
                  
                   <p id="recipe_title">{{ dessertsRecipe.title }}</p>

				   <img ng-src="{{ dessertsRecipe.image }}" width="190" height="100"/>

				   <div id="post_date"> {{ dessertsRecipe.create_date }} </div>

				   <div> {{ dessertsRecipe.description }} </div>

				  <div id="readmore"><a href="#!/recipes/details/{{ dessertsRecipe._id }}">Read More.. </a></div>
                   

			  </div>

			</div>  

	  </section>


  <!-- Article -->

	  <article class="post_article height_adjust"> 

				<p id="title1_article"><em> 17 WAYS TO STUFF YOUR FRENCH TOAST </em></p>

				<p id="article_date"><em>Posted on 10 Sep, 2016</em></p>


				

				<img src="images/toast.jpg" width="250" height="200"/>   

				<p id="content"><em>
						You know what's even better than French toast? Stuffed French toast. Yeah, you probably knew where we were going with that one. We're big fans of stuffed ... well, anything. Food stuffed within food? Hell yeah. So here, we're taking something decadent already, and going beyond over the top. We went over the top, around, and then back over that top. We started with the best stuffed French toast OF ALL TIME, and then gave you more. Because that's how we roll.</em> <span id="readmore_article"><a href="#"><em>Read More..</em></a></span>
		
		       </p>

	  </article	> 



	  <section class="sect six blur" id="beverages">
		  
		  <p class="title">BEVERAGES</p>
		  <a href="#!/recipes/beverages" class="all_recipes_title">All Beverages</a>


		<!-- Blog posts -->

            <div class="blogs" ng-init="getBeveragesRecipes()">

            

			  <div class="recipes" ng-repeat="beveragesRecipe in beveragesRecipes | limitTo: 4">
                  
                   <p id="recipe_title">{{ beveragesRecipe.title }}</p>

				   <img ng-src="{{ beveragesRecipe.image }}" width="190" height="100"/>

				   <div id="post_date"> {{ beveragesRecipe.create_date }} </div>

				   <div> {{ beveragesRecipe.description }} </div>

				  <div id="readmore"><a href="#!/recipes/details/{{ beveragesRecipe._id }}">Read More.. </a></div>
                   

			  </div>

			</div>  

		

	  </section>


<!-- Article -->

	  <article class="post_article height_adjust"> 

				<p id="title1_article"><em> DOES THE COLOR OF AN EGG YOLK INDICATE HOW NUTRITIOUS IT IS?</em></p>

				<p id="article_date"><em>Posted on 19 Sep, 2016</em></p>


				

				<img src="images/egg.jpg" width="250" height="200"/>   

				<p id="content"><em>

						Deviled eggs, poached, fried, hard-boiled, soft-boiled, sunny-side up — whatever way you like your egg, you're looking at that golden center, and sometimes you notice something. The shade of golden isn't always the same. Some yolks are lighter, some yellower, some deeper, almost orange-colored. Do you get more nutrients one way or the other?

						The bottom line, says Marion Nestle, author of What to Eat and professor of Nutrition, Food Studies, and Public Health at New York University, is that "the color [of an egg yolk] doesn't reflect the nutrient value in any significant way."</em> <span id="readmore_article"><a href="#"><em>Read More..</em></a></span>
		
		        </p>

	  </article	> 



	  <section class="sect seven blur" id="popular">

		  <p class="title">POPULAR</p>
		  <a href="#!/recipes/popular" class="all_recipes_title">All Popular</a>


		<!-- Blog posts -->

            <div class="blogs" ng-init="getPopularRecipes()">

            

			  <div class="recipes" ng-repeat="popularRecipe in popularRecipes | limitTo: 4">
                  
                   <p id="recipe_title">{{ popularRecipe.title }}</p>

				   <img ng-src="{{ popularRecipe.image }}" width="190" height="100"/>

				   <div id="post_date"> {{ popularRecipe.create_date }} </div>

				   <div> {{ popularRecipe.description }} </div>

				  <div id="readmore"><a href="#!/recipes/details/{{ popularRecipe._id }}">Read More.. </a></div>
                   

			  </div>

			</div>  


		

	  </section>

 </div>