
<div class="sections">
 
      <section class="sect one" id="home">

		 <span class="login_button auth_button">Login</span>
		 <span class="signup_button auth_button">Sign Up</span>
         <p id="sitename">foodTube</p>
		 <a href="#!/recipes/add"><button class="add_recipe" ng-click="add_recipe()">Add Recipes</button></a>

	  </section>

      <section class="sect two blur" id="maincourse">

		  <p class="title">MAINCOURSE</p>
		  <a href="#!/recipes/maincourse" class="all_recipes_title">All Maincourse</a>

        <!-- Blog posts -->


		  <div class="blogs" ng-init="getMaincourseRecipes()">

            

			  <div class="recipes" ng-repeat="maincourseRecipe in maincourseRecipes | limitTo: 4">
                  
                   <p id="recipe_title">{{ maincourseRecipe.title }}</p>

				   <img ng-src="{{ maincourseRecipe.image }}" width="190" height="100"/>

				   <div id="post_date"> {{ maincourseRecipe.create_date }} </div>

				   <div> {{ maincourseRecipe.description }} </div>

				  <div id="readmore"><a href="#!/recipes/details/{{ maincourseRecipe._id }}">Read More.. </a></div>
                   

			  </div>

		</div>	  
			  
        <div class="create_recipe">Add Maincourse Recipe</div>
			 

	  </section>

	<!-- modal maincourse 	-->

	<div id="modal_maincourse" class="modal">

		<div id="close_modal">&times;</div>
  
		<div class="modal_form_posts">

			<h2> Post Maincourse Recipe </h2>
			
			<form enctype='multipart/formdata' ng-submit="addMaincourseRecipe()">	

				<input type="text" ng-model="maincourseRecipe.title" placeholder="  Title">
				<input type="text" placeholder="  Category">
				<label for="recipe_image">Image</label>
				<input type="file" id="recipe_image">
				<textarea cols="100" rows="20" ng-model="maincourseRecipe.description"  placeholder="  Contents"></textarea>
				<button type="submit">POST</button>

			</form>


		</div>

		

	</div>	  

	<!-- Article -->

	  <article class="post_article" ng-init="getArticles()"> 

		  <div ng-repeat="article in articles | limitTo : 1 : 0">

				<p id="title1_article">{{ article.title }}</p>

				<p id="article_date"><em>Posted on &nbsp;{{ article.create_date }}</em></p>


				<p id="title2_article">{{ article.subtitle }}</p>

				<img ng-src="{{ article.image }}" width="250" height="200"/>   

				<p id="content">
						{{ article.content }} <span id="readmore_article"><a href="#!/articles/details/{{ article._id }}"><em>Read More..</em> </a></span>
		
		       </p>

		</div>   

	  </article	>  



      <section class="sect three blur" id="snacks">

		  <p class="title">SNACKS</p>
		  <a href="#!/recipes/snacks" class="all_recipes_title">All Snacks</a>

	    <!-- Blog posts -->

          		  <div class="blogs" ng-init="getSnacksRecipes()">

            

			  <div class="recipes" ng-repeat="snacksRecipe in snacksRecipes | limitTo: 4">
                  
                   <p id="recipe_title">{{ snacksRecipe.title }}</p>

				   <img ng-src="{{ snacksRecipe.image }}" width="190" height="100"/>

				   <div id="post_date"> {{ snacksRecipe.create_date }} </div>

				   <div> {{ snacksRecipe.description }} </div>

				  <div id="readmore"><a href="#!/recipes/details/{{ snacksRecipe._id }}">Read More.. </a></div>
                   

			  </div>

			</div>  

	  </section>




	<!-- Article -->

	  <article class="post_article">

		  <div ng-repeat="article in articles | limitTo : 1 : 1"> 

				<p id="title1_article">{{ article.title }}</p>

				<p id="article_date"><em>Posted on &nbsp;{{ article.create_date }}</em></p>


				<p id="title2_article">{{ article.subtitle }}</p>

				<img ng-src="{{ article.image }}" width="250" height="200"/>   

				<p id="content">{{ article.content }} 
					
					<span id="readmore_article"><a href="#!/articles/details/{{ article._id }}"><em>Read More..</em></a></span>
		
		       </p>

		 </div>	   

	  </article	> 

      <section class="sect four blur" id="starter">

		  <p class="title">STARTER</p>
		  <a href="#!/recipes/starters" class="all_recipes_title">All Starters</a>


		<!-- Blog posts -->
           	<div class="blogs" ng-init="getStartersRecipes()">

            

			  <div class="recipes" ng-repeat="startersRecipe in startersRecipes | limitTo: 4">
                  
                   <p id="recipe_title">{{ startersRecipe.title }}</p>

				   <img ng-src="{{ startersRecipe.image }}" width="190" height="100"/>

				   <div id="post_date"> {{ startersRecipe.create_date }} </div>

				   <div> {{ startersRecipe.description }} </div>

				  <div id="readmore"><a href="#!/recipes/details/{{ startersRecipe._id }}">Read More.. </a></div>
                   

			  </div>

			</div>  
          
	  </section>

<!-- Article -->

	 <article class="post_article">

		  <div ng-repeat="article in articles | limitTo : 1 : 2"> 

				<p id="title1_article">{{ article.title }}</p>

				<p id="article_date"><em>Posted on &nbsp;{{ article.create_date }}</em></p>


				<p id="title2_article">{{ article.subtitle }}</p>

				<img ng-src="{{ article.image }}" width="250" height="200"/>   

				<p id="content">{{ article.content }} 
					
					<span id="readmore_article"><a href="#!/articles/details/{{ article._id }}"><em>Read More..</em></a></span>
		
		       </p>

		 </div>	   

	  </article	> 


      <section class="sect five blur" id="desserts">
		  
		  <p class="title">DESSERTS</p>
		  <a href="#!/recipes/desserts" class="all_recipes_title">All Desserts</a>


		<!-- Blog posts -->

            <div class="blogs" ng-init="getDessertsRecipes()">

            

			  <div class="recipes" ng-repeat="dessertsRecipe in dessertsRecipes | limitTo: 4">
                  
                   <p id="recipe_title">{{ dessertsRecipe.title }}</p>

				   <img ng-src="{{ dessertsRecipe.image }}" width="190" height="100"/>

				   <div id="post_date"> {{ dessertsRecipe.create_date }} </div>

				   <div> {{ dessertsRecipe.description }} </div>

				  <div id="readmore"><a href="#!/recipes/details/{{ dessertsRecipe._id }}">Read More.. </a></div>
                   

			  </div>

			</div>  

	  </section>


  <!-- Article -->

<article class="post_article">

		  <div ng-repeat="article in articles | limitTo : 1 : 3"> 

				<p id="title1_article">{{ article.title }}</p>

				<p id="article_date"><em>Posted on &nbsp;{{ article.create_date }}</em></p>


				<p id="title2_article">{{ article.subtitle }}</p>

				<img ng-src="{{ article.image }}" width="250" height="200"/>   

				<p id="content">{{ article.content }} 
					
					<span id="readmore_article"><a href="#!/articles/details/{{ article._id }}""><em>Read More..</em></a></span>
		
		       </p>

		 </div>	   

	  </article	> 	



	  <section class="sect six blur" id="beverages">
		  
		  <p class="title">BEVERAGES</p>
		  <a href="#!/recipes/beverages" class="all_recipes_title">All Beverages</a>


		<!-- Blog posts -->

            <div class="blogs" ng-init="getBeveragesRecipes()">

            

			  <div class="recipes" ng-repeat="beveragesRecipe in beveragesRecipes | limitTo: 4">
                  
                   <p id="recipe_title">{{ beveragesRecipe.title }}</p>

				   <img ng-src="{{ beveragesRecipe.image }}" width="190" height="100"/>

				   <div id="post_date"> {{ beveragesRecipe.create_date }} </div>

				   <div> {{ beveragesRecipe.description }} </div>

				  <div id="readmore"><a href="#!/recipes/details/{{ beveragesRecipe._id }}">Read More.. </a></div>
                   

			  </div>

			</div>  

		

	  </section>


<!-- Article -->

	  <article class="post_article height_adjust">

		  <div ng-repeat="article in articles | limitTo : 1 : 4"> 

				<p id="title1_article">{{ article.title }}</p>

				<p id="article_date"><em>Posted on &nbsp;{{ article.create_date }}</em></p>


				<p id="title2_article">{{ article.subtitle }}</p>

				<img ng-src="{{ article.image }}" width="250" height="200"/>   

				<p id="content">{{ article.content }} 
					
					<span id="readmore_article"><a href="#!/articles/details/{{ article._id }}"><em>Read More..</em></a></span>
		
		       </p>

		 </div>	   

	  </article	> 	

	  <section class="sect seven blur" id="popular">

		  <p class="title">POPULAR</p>
		  <a href="#!/recipes/popular" class="all_recipes_title">All Popular</a>


		<!-- Blog posts -->

            <div class="blogs" ng-init="getPopularRecipes()">

            

			  <div class="recipes" ng-repeat="popularRecipe in popularRecipes | limitTo: 4">
                  
                   <p id="recipe_title">{{ popularRecipe.title }}</p>

				   <img ng-src="{{ popularRecipe.image }}" width="190" height="100"/>

				   <div id="post_date"> {{ popularRecipe.create_date }} </div>

				   <div> {{ popularRecipe.description }} </div>

				  <div id="readmore"><a href="#!/recipes/details/{{ popularRecipe._id }}">Read More.. </a></div>
                   

			  </div>

			</div>  


		

	  </section>

 </div>