
<div  class="all_recipes_container">
<div ng-init="getMaincourseRecipes()" class="recipe_wrapper">

    <div ng-repeat="maincourseRecipe in maincourseRecipes">

        <div class="recipe_title">{{ maincourseRecipe.title}}</div>

        <img ng-src="{{ maincourseRecipe.image }}" width="190" height="100"/>

        <div id="post_date"> {{ maincourseRecipe.create_date }} </div>

        <div class="recipe_description"> {{ maincourseRecipe.description }} </div>

        <div id="read_recipe"><a href="#!/recipes/details/{{ maincourseRecipe._id }}">Read More.. </a></div>

        
    </div>  

</div>       

</div>