
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{

    height: 100%;
    font-family: 'Titillium Web', sans-serif;
 
}

a{
    text-decoration: none;
}

body{

    margin-bottom: 400px;
    
}

h1, h2, h3, h4, h5, h6, p{

    margin-bottom: 20px;

}

/* navigation bar */


.nav_wrapper{

    margin-left: 5%;
    margin-right: 5%;
 
    
   
}
 

.navbar-custom{


    position: fixed;
    width: 100%;
    background-color: rgba(0,0,0,.9);
    opacity: 0.9;
    font-family: 'David Libre', serif;
    /*z-index: 99;*/
    font-size: 16px;
    border: none;



}

@media screen and (max-width: 1043px){

    .navbar-custom{

      font-size: 14px;
    }
}

@media screen and (max-width: 1043px){

    .navbar-custom{

      font-size: 14px;
    }
}


.navbar-nav > li > a{

    text-decoration: none;
    color: lightslategrey;
    border-radius: 2px;
    margin-right: 20px;
}

@media screen and (max-width: 1043px){

    .navbar-nav > li > a{

      margin-right: 10px;

    }
}

@media screen and (max-width: 870px){

    .navbar-nav > li > a{

      margin-right: 5px;
      
    }
}
.navbar-nav > li > a:hover{

    color: #1e90ff;
}



.icon-bar{

    background: burlywood;
}

/* search input box */

#search_input{

    background-color: transparent;
    padding: 10px 15px;
    height: 20px;
    width: 160px;
    color: #ccc;
    float: right;
    margin-top: 4px;
    margin-right: 40px;
    border-radius: 50px;
    border: 1px solid #fbfaa5;

}



#search_input:focus {

  outline: none;

}


#search{

    position: absolute;
    right: 60px;
    color: #ccc;
    margin-top: 15px;

}


/* site name */

#sitename{

    font-size: 70px;
    border: 9px solid rgba(200,200,200,0.6);
    font-family: 'Titillium Web', sans-serif;
    padding: 20px 30px;
    position: absolute;
    right: 15%;
    top: 200px;
    color: rgba(200,200,200,0.8);
    border-radius: 6px;
 

}

@media screen and (max-width: 980px){

    #sitename{

        font-size: 70px;
        border: 9px solid rgba(200,200,200,0.6);
        font-family: 'Titillium Web', sans-serif;
        padding: 20px 30px;
        position: absolute;
        right: 15%;
        top: 40%;
        color: rgba(200,200,200,0.8);
        border-radius: 6px;
    

    }
}



@media screen and (max-width: 796px){

    #sitename{

        font-size: 50px;
        border: 9px solid rgba(200,200,200,0.6);
        font-family: 'Titillium Web', sans-serif;
        padding: 20px 30px;
        position: absolute;
        
        text-align: center;
        top: 35%;
        color: rgba(200,200,200,0.8);
        border-radius: 6px;
    

    }
}

@media screen and (max-width: 412px){

    #sitename{

        font-size: 40px;
        border: 9px solid rgba(200,200,200,0.6);
        font-family: 'Titillium Web', sans-serif;
        padding: 20px 30px;
        position: absolute;
        left: 13%;
        text-align: center;
        top: 30%;
        color: rgba(200,200,200,0.8);
        border-radius: 6px;
    

    }
}

@media screen and (max-width: 414px){

    #sitename{

        font-size: 40px;
        border: 9px solid rgba(200,200,200,0.6);
        font-family: 'Titillium Web', sans-serif;
        padding: 20px 30px;
        position: absolute;
        left: 12%;
        text-align: center;
        top: 35%;
        color: rgba(200,200,200,0.8);
        border-radius: 6px;
    

    }
}


@media screen and (max-width: 360px){

    #sitename{

        font-size: 40px;
        border: 9px solid rgba(200,200,200,0.6);
        font-family: 'Titillium Web', sans-serif;
        padding: 20px 30px;
        position: absolute;
        left: 14%;
        text-align: center;
        top: 30%;
        color: rgba(200,200,200,0.8);
        border-radius: 6px;
    

    }
}

@media screen and (max-width: 320px){

    #sitename{

        font-size: 40px;
        border: 9px solid rgba(200,200,200,0.6);
        font-family: 'Titillium Web', sans-serif;
        padding: 20px 30px;
        position: absolute;
        left: 12%;
        text-align: center;
        top: 30%;
        color: rgba(200,200,200,0.8);
        border-radius: 6px;
    

    }
}

/* Login and Sign up buttons */

.auth_button{

    display: inline-block;
    padding: 10px 30px;
    background-color: #633993;
    color: #ccc;
    font-family: 'Open sans', sans-serif;
    position: absolute;
    top: 100px;
    border: 1px solid #4b0082;
    border-radius: 3px;
    cursor: pointer;

}

.signup_button{

    padding: 10px 25px;
    right: 19%;

}

.login_button{

    right: 29%;
}

.add_recipe{

    display: inline-block;
    padding: 10px 30px;
    background-color: #633993;
    color: #ccc;
    font-family: 'Open sans', sans-serif;
    position: absolute;
    top: 450px;
    right: 300px;
    border: 1px solid #4b0082;
    border-radius: 3px;
    cursor: pointer; 
}




/* sections */


.sect{

    height: 750px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    clear: both;
    -webkit-transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;
       transition: all 2s ease-in-out;

 
    
}

@media screen and (max-width: 600px){

    .sect .one{

        height: 500px;
        background-size: 100% 10%;
        background-attachment: local;
    }
}



.title{

    position: absolute;
    top: 65px;
    left: 6%;
    font-size: 22px;
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
    border: 3px solid rgba(105,105,105,0.7);
    border-radius: 3px;
    padding: 10px 20px;
    color: #7b7b7b;

}

@media screen and (max-width: 600px){


    .title{

        font-size: 18px;
        left: 10%;
    }
}

.all_recipes_title{

    position: absolute;
    top: 80px;
    right: 10%;
    color: #696969;
    font-family: 'Titillium Web', sans-serif;
    cursor: pointer;
    font-size: 18px;
    border-bottom: 1px solid #696969;
    text-decoration: none;
    
}

@media screen and (max-width: 787px){


    .all_recipes_title{

        font-size: 17px;
        top: 87px;
       
    }
}


@media screen and (max-width: 489px){


    .all_recipes_title{

        font-size: 15px;
        top: 93px;
       
    }
}






/*sections*/


.one{

 
    background-image: url(../images/landing_image.jpg);



}



.two{

    background-image: url(../images/maincourse.jpg);

}


.three{

    background-image: url(../images/starter.jpg);
 

}


.four{

    background-image: url(../images/snacks.jpg);

}

.five{

    background-image: url(../images/desserts.jpg);

}

.six{

    background-image: url(../images/beverages.jpg);

}


.seven{

    background-image: url(../images/popular.jpg);

}




/* Blog posts */


.blogs{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    top: 160px;

}






.recipes{

   width: 20%;
   height: 410px;
   background-color: #fff;
   border-radius: 3px;
   float: left;
   margin-right: 30px;
   position: relative;
   clear: both;
   box-shadow: 1px 1px 6px 0px #817a7a;


}


#post_date{

   font-family: 'Cardo', serif;
   text-align: center;
   margin-bottom: 10px;
   font-size: 15px;
   color: #696969;

}


#recipe_title{

    text-align: center;
    font-family: 'David Libre', serif;
    font-size: 20px;
    color: #051a2f;
    text-align: center;
    margin-top: 20px;
    text-transform: uppercase;
   

}

.blogs img{

   display: inline-block;
   margin-left: 14%;
   margin-top: 10px;
   margin-bottom: 10px;
 
}



.recipes .recipe_description{

    /*font-family: 'Open Sans Condensed', sans-serif;*/
    color: #39393C;
    font-family: 'David Libre', serif;
    margin: 0 auto;
    clear: both;
    font-size: 15px;
    color: #051a2f;
    
    

}



.recipes div p{

    font-size: 16px;
    margin-top: 20px;
   
    
}

@media screen and (max-width: 1300px){

    .two, .three, .four, .five, .six, .seven{

        overflow-y: scroll;

    }

    .blogs{

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      
        
    }

    .recipes{

       width: 80%;
       margin: 30px auto;
    
    }

    .recipes img{

        display: block;
        margin: 0 auto;
        
    }

    #post_date{

        text-align: center;
        margin: 20px auto;
      
    }

    .recipe_description{

        text-align: center;
        margin: 0 20%;
    }
}

 .create_recipe a{

    text-decoration: none;
    color: #fff;
    background: #322c4f;
    font-family: 'David Libre', serif;
    text-align: center;
    display: block;
    margin: 60px auto;
    border-radius: 2px;
    padding: 5px 10px;
    font-size: 15px;
    width: 20%;
    position: relative;
    top: 170px;

 }

 .create_recipe a:hover{

     cursor: pointer;
     color: #fff;
     text-decoration: none;
 }

 @media screen and (max-width: 824px){

        .create_recipe a{

             width: 60%;
        
        }
 }

#readmore a{

    
    background-color: #ccc;
    opacity: 0.6;
    border-radius: 3px;
    padding: 5px;
    font-size: 13px;
    font-family: 'Cardo', serif;
    position: absolute;
    bottom: 10px;
    right: 10px;
    text-decoration: none;
    color: #051a2f;
   

}



/* Articles */

.post_article{

    height: 670px;

}

@media screen and (max-width: 486px){


    .post_article{

        height: 800px;
    }
}


.post_article .title1_article{

    text-align: center;
    color: #051a2f;
    font-size: 23px;
    font-family: 'Gentium Basic', serif;
    margin: 50px auto 20px auto;
    width: 90%;

}

.post_article .article_date{

    color: #696969;
    font-size: 15px;
    text-align: center;
    font-family: 'Gentium Basic', serif;
    margin-top: 10px auto 0 auto;

}

.post_article .title2_article{
    
    color: #696969;
    font-size: 29px;
    text-align: center;
    font-family: 'Italianno', cursive;
    margin: 20px auto;
    width: 90%;

}

@media screen and (max-width: 800px){

    .post_article .title2_article{

       font-size: 23px;

    }
}



.post_article img{

    
    display: block;
    margin: 30px auto;
    box-shadow: 1px 1px 7px 0px #ccc;
    
}

.post_article .content{

    color: #05132f;
    font-size: 17px;
    /*font-family: 'Open Sans Condensed', sans-serif;*/
    color: #39393C;
    font-family: 'David Libre', serif;
    line-height: 30px;
    max-width: 80%;
    margin: 30px auto;
  
  
    
}

 .create_article a{

    text-decoration: none;
    color: #1e90ff;
    text-align: center;
    display: block;
    margin: 40px auto;
    border: 1px solid #deb887;
    border-radius: 2px;
    padding: 5px 10px;
    font-size: 15px;
    width: 20%;

 }


 .create_article a:hover{

     color: #000;
     cursor: pointer;
     text-decoration: none;
 }


 @media screen and (max-width: 486px){

     .create_article a{

         width: 60%;
     }
 }

.create_article:hover .create_article a{

    color: #000;
    text-decoration: none;
}

.post_article .content #readmore_article a{


   
    background-color: #ccc;
    opacity: 0.6;
    border-radius: 3px;
    padding: 5px;
    font-size: 14px;
    font-family: 'Cardo', serif;
    text-decoration: none;
    color:#051a2f;
    margin-left: 20px;


}

.article_edit, .article_edit a{

    padding-top: 30px;
    text-decoration: none;
    color: #000;
  
    
}

.edit_article ,.delete_article{

    padding: 5px;
    
}

.edit_article a:hover, .delete_article:hover{

    color: #1e90ff;
    cursor: pointer;
}


/* The footer */

footer{
   
    background-image: url(../images/footer_wood.jpg);
    color: #fff;
    width: 100%;

    position: relative;
    bottom: 0px;
   
}



.padd{

    max-width: 100%;
    margin: 0 auto;
    font-family: 'Titillium Web', sans-serif;
    padding-top: 30px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}



.first-column-segment{

    max-width: 100%;
    margin: 0 auto;
    font-family: 'Titillium Web', sans-serif;
    padding-top: 30px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

.col-1{

   
   position: relative;
   top: 20px;
   
}

.col-1 a{

    text-decoration: none;
    color: #fff;
    font-size: 15px;

}

.col-1 li{

   list-style-type: none;


}

.col-1 a:hover{

    color: #696969

}

.col-2{

   
    font-size: 20px;
    position: relative;
    top: 20px;
  
    

}


.icons{

   position: relative;
   top: 20px;
 
}




.col-icons{


  
}

.col-icons a{

    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

.col-icons a:hover{

    color: #696969;
}

#newsletter_input{

    background-color: transparent;
    border: 1px solid #fff;
    padding: 5px 15px;
    height: 40px;
    width: 90%;
    color: #ccc;
    border-radius: 3px;
    margin-top: 20px;

}

#submit_input{

    background-color: royalblue;
    color: #fff;
    padding: 5px 10px;
    border-radius: 2px;
    cursor: pointer;
    border: none;

}

#submit_input:hover{

    background-color: #87ceeb;

}

.bottom{

    position: relative;
    top: 30px;
}


.bottom span{

   margin-left: calc(50% - 5em);
   font-size: 12px;
   display: inline-block;


}

.bottom a{

    text-decoration: none;
    color: #fff;
    

}

.bottom a:hover{

    color: #ccc;

}



/* All recipes page*/

.container{

    padding-top: 80px;
    margin: 0 auto;
    text-align: center;


}

.container_recipe_details{

    background-image: url(../images/maincourse.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  
   

}

.container_article_details{

    background-image: url(../images/ice-cream.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

.container_maincourse{

    background-image: url(../images/maincourse.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

.container_snacks{

    background-image: url(../images/snacks.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

.container_starters{

    background-image: url(../images/starter.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

.container_desserts{

    background-image: url(../images/desserts.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

.container_beverages{

    background-image: url(../images/beverages.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

.container_popular{

    background-image: url(../images/popular.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

.panel{

    width: 90%;
    background: #fff;
    padding-top: 10px;
    padding-bottom: 30px;
    margin: -20px auto 40px auto;
    
}

.recipe_title{
    text-transform: uppercase;
    font-weight: bold;
    margin: 20px auto;
    font-size: 20px;
    color: #2f2b3f;
}

.recipe_description{

    margin: 30px auto;
    width: 60%;
}

#read_recipe a{

    text-decoration: none;
    background: #444;
    padding: 5px 10px;
    border-radius: 3px;
    color: #fff;

}

#post_date_recipe{

    margin: 20px auto;
    width: 60%; 
    text-align: center;
    color: #696969;
    font-style: italic;
}

/* form */



.form-horizontal{
    display: block;
    width: 50%;
    margin: 0 auto;
}

.post_button{

    margin: 30px auto;
}

.input-group,.form-group{

    margin: 30px auto;

}
